<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Meta information -->
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ '/assets/favicon-32x32.png' | prepend: site.baseurl }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ '/assets/favicon-16x16.png' | prepend: site.baseurl }}" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.png' | prepend: site.baseurl }}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">

</head>
<body id="top">
    <header class="parallax">
        <section class="navigation">
            <div class="nav-bar">
                <div class="header-content">
                    <div class="logo"><a href="#top"><img width="17" src="{{ '/assets/img/logo-mini.png' | prepend: site.baseurl }}" alt="Cromattica logo"></a></div>
                    <div class="header-nav">
                        <nav>
                            <ul class="member-actions">
                                <li><a href="#services">Services</a></li>
                                <li><a href="#methodology">Methodology</a></li>
                                <li><a href="#products">Produts</a></li>
                                <li><a href="#contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </div>
        </section>

        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="hero-content text-center">
                            <div class="logo"><a href="#"><img src="{{ '/assets/img/cromattica.png' | prepend: site.baseurl }}" alt="Cromattica logo"></a></div>
                            <h1>A Digital Product Agency</h1>
                            <p class="intro">We <strong>create, design and develop</strong> digital products to climb up the internet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
        </div>
    </header>

    <section class="intro section-padding" id="services">
        <div class="container">
            <h2>Our <strong>Services</strong></h2>
            <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe033;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Full Stack Development</h5>
                        <p>We develop software projects. We use different technologies to get the best software features.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe030;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Agile Software Development</h5>
                        <p>We are using agile methodologies to get the absolute balance between the client, the project and the team.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe03e;" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>Business Consulting</h5>
                        <p>We can analyze the software problem to propose the asiest and appropriate solution for your business. Good software exists to solve real problems.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe040;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>User Experience</h5>
                        <p>Designing software for you. We work and test the experience doing the software easier and understandble for users.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe03c;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>MVP for Startups</h5>
                        <p>Create your minimum viable product to test the market and improve your project in a fast way making your product usable from the beginning.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe046;" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>Open Source</h5>
                        <p>We really love the community and we bring some of our valuable code to improve and share.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features section-padding" id="methodology">
        <div class="container">
            <h2>Our <strong>Methodology</strong></h2>
            <div class="row">
                <div class="col-md-7">
                    <img width="680" height="570" src="{{ '/assets/img/sketch-notes.png' | prepend: site.baseurl }}" alt="">
                </div>
                <div class="col-md-5">
                    <div class="feature-list">
                        <p>We work using agile methodologies to bring you the chance to have valuable product from the beguinning.</p>
                        <ul class="features-stack">
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <span data-icon="&#xe03e;" class="icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h5>Design thinking</h5>
                                    <p>A creative way to build new ideas and to test them.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <span data-icon="&#xe040;" class="icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h5>Lean Startup</h5>
                                    <p>Learn, build and measure as many times as you need to create a valuable product</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <span data-icon="&#xe03c;" class="icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h5>Scrum</h5>
                                    <p>Start creating a valuable product ready for the market.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="intro section-padding" id="products">
        <div class="container">
            <h2>We love <strong>Open Source</strong></h2>
            <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe040;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Symfony Skeleton</h5>
                        <p>A Symfony standar framework with the basics bundles configured and ready to start to code.</p>
                  </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe03c;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>MeetingUP</h5>
                        <p>An easy way to create your Meetup website. Download, install, config and publish and you have your community website working.</p>
                  </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe046;" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                      <h5>Trainning and Talks</h5>
                      <p>We organize a PHP User Group to increase the connection in the PHP community. We love to share knowledge.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-extra section-padding" id="contact">
        <div class="container">
            <h2>Contact <strong>Us</strong></h2>
            <div class="row">
                <div class="col-md-5">
                    <div class="feature-list">
                        <p>We are happy to receive new posibilities to colaborate. <br>Please, don't hesitate to send us an email.</p>
                        <p>Email: <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#101;&#108;&#108;&#111;&#064;&#099;&#114;&#111;&#109;&#097;&#116;&#116;&#105;&#099;&#097;&#046;&#099;&#111;&#109;">&#104;&#101;&#108;&#108;&#111;&#064;&#099;&#114;&#111;&#109;&#097;&#116;&#116;&#105;&#099;&#097;&#046;&#099;&#111;&#109;</a></p>
                    </div>
                </div>
                <div class="col-md-7">
                    <img width="550" height="300" src="{{ '/assets/img/world-map.png' | prepend: site.baseurl }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="to-top">
        <div class="container">
            <div class="row">
                <div class="to-top-wrap">
                    <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ '/assets/js/vendor/retina.js/retina.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/vendor/jquery.fancybox.pack.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/vendor/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/vendor/jquery.flexslider-min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/vendor/classie/classie.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/vendor/jquery-waypoints/jquery.waypoints.min.js' | prepend: site.baseurl }}"></script>

    {% include ga.html %}

</body>
</html>
